{% extends 'base.html' %} 
{% load static %}

{%block body%}

<!--facilities start -->
<div class="feature">
    <div class="container">
      <!-- istrow -->
      <div class="row">
        <div class=" offset-md-1 col-md-10">
          <div class="c-title text-center">
            <h1 class="c-h1">Car Hire – Search, Compare & Save</h1>
                
            <p class="c-p"><br> ✔ Free cancellations any time |
                ✔ 60,000+ locations |
                ✔ Customer support 24/7 </p>
          </div>
        </div>
      </div>
      <!-- 2ndrow -->
     <div class="row">    
   <!-- singleitem -->
     
       <div class="col-lg-4 col-sm-6">
         <div class="single">
           <div class="row">
             <div class="col-md-3">
               <div class="serviceimg">
                <img src= "{% static 'images/time.png' %}  "alt="My Image"/>
               </div>
             </div>
             <div class="col-md-9">
               <div class="s-text">
                 <h2>Flexible rentals</h2>
                 <p>Most bookings can be changed or canceled without fee up to 48 hours before pick-up.</p>
               </div>
             </div>
           </div>
         </div>
       </div>
       
       <!-- singleitem -->

       <!-- singleitem -->
     
       <div class="col-lg-4 col-sm-6">
        <div class="single">
          <div class="row">
            <div class="col-md-3">
              <div class="serviceimg">
               <img src= "{% static 'images/hc.png' %}  "alt="My Image"/>
              </div>
            </div>
            <div class="col-md-9">
              <div class="s-text">
                <h2>Flexible rentals</h2>
                <p>Know exactly what you’re paying</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <!-- singleitem -->

      <!-- singleitem -->
     
      <div class="col-lg-4 col-sm-6">
        <div class="single">
          <div class="row">
            <div class="col-md-3">
              <div class="serviceimg">
               <img src= "{% static 'images/taka.png' %}  "alt="My Image"/>
              </div>
            </div>
            <div class="col-md-9">
              <div class="s-text">
                <h2>Price Match Guarantee</h2>
                <p>Found the same deal for less? We’ll match the price.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <!-- singleitem -->
      

     </div>
   </div>
  </div>
<!--facilities end -->
<!--swapping car start -->

<div class="section over-hide">
    <div class="container">
        <div class="row full-height justify-content-right">
            <div class="col-12 text-center align-self-center py-5">
                <div class="section text-center py-5 py-md-0">
                      <input class="pricing" type="checkbox" id="pricing" name="pricing"/>
                      <label for="pricing"><span class="block-diff">Inside City<span class="float-right">Any where</span></span></label>
                    <div class="card-3d-wrap mx-auto">
                        <div class="card-3d-wrapper">
                            <div class="card-front">
                                <div class="pricing-wrap">
                                    <h4 class="mb-5">Inside City</h4>
                                    <h2 class="mb-2"><sup>৳</sup>500/per<sup>hrs</sup></h2>
                                    <p class="mb-4">Best Price with Quality Service</p>
                                    <p class="mb-1"><i class="uil uil-location-pin-alt size-22"></i></p>
                                    <p class="mb-4">Easy & Fast </p>
                                    <a href="#0" class="link">Choose Date</a>
                                    <div class="img-wrap img-2">
                                        <img src={% static 'images/po.jpeg' %}  alt="">
                                    </div>
                                    <div class="img-wrap img-1">
                                        {% comment %} <img src={% static 'images/121.png' %} alt=""> {% endcomment %}
                                    </div>
                                    <div class="img-wrap img-3">
                                        <img src="https://assets.codepen.io/1462889/water.png" alt="">
                                    </div>
                                    <div class="img-wrap img-6">
                                        <img src="https://assets.codepen.io/1462889/Stone.png" alt="">
                                    </div>
                                  </div>
                              </div>
                            <div class="card-back">
                                <div class="pricing-wrap">
                                    <h4 class="mb-5">Nation Wide</h4>
                                    <h2 class="mb-2"><sup>৳</sup>500/per<sup>hrs</sup></h2>
                                    <p class="mb-4">Best Price with Quality Service</p>
                                    <p class="mb-1"><i class="uil uil-location-pin-alt size-22"></i></p>
                                    <p class="mb-4">Dhaka , Bangladesh</p>
                                    <a href="#0" class="link">Choose Date</a>
                                    <div class="img-wrap img-2">
                                        <img src="https://assets.codepen.io/1462889/grass.png" alt="">
                                    </div>
                                    <div class="img-wrap img-4">
                                        <img src="https://assets.codepen.io/1462889/camp.png" alt="">
                                    </div>
                                    <div class="img-wrap img-5">
                                        {% comment %} <img src="https://assets.codepen.io/1462889/Ivy.png" alt=""> {% endcomment %}
                                    </div>
                                    <div class="img-wrap img-7">
                                        <img src="https://assets.codepen.io/1462889/IvyRock.png" alt="">
                                    </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
    </div>
</div>

<!--swapping car end  -->

<!-- faq section start -->
<section class="faq-section">
    <div class="container">
      <div class="row">
                        <!-- ***** FAQ Start ***** -->
                        <div class="col-md-6 offset-md-3">
                            <div class="faq-title text-center pb-3">
                                <h2>FAQ</h2>
                            </div>
                        </div>
                      
                        <div class="col-md-6 offset-md-3">
                            <div class="faq" id="accordion">
                                <div class="card">
                                    <!--faq single start-->
                                    <div class="card-header" id="faqHeading-1">
                                        <div class="mb-0">
                                            <h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-1" data-aria-expanded="true" data-aria-controls="faqCollapse-1">
                                                <span class="badge">☑</span>Can I book a rental car for someone else?
                                            </h5>
                                        </div>
                                    </div>
                                    <div id="faqCollapse-1" class="collapse" aria-labelledby="faqHeading-1" data-parent="#accordion">
                                        <div class="card-body">
                                            <p>Yes, as long as they meet these requirements. Just fill in their details while you're making the reservation.</p>
                                        </div>
                                    </div>
                                </div>
                                 <!--faq single end-->
                                 <div class="card">
                                  <!--faq single start-->
                                  <div class="card-header" id="faqHeading-2">
                                      <div class="mb-0">
                                          <h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-2" data-aria-expanded="true" data-aria-controls="faqCollapse-2">
                                              <span class="badge">☑</span>What happens if the rental car gets damaged or involved in an accident?
                                          </h5>
                                      </div>
                                  </div>
                                  <div id="faqCollapse-2" class="collapse" aria-labelledby="faqHeading-2" data-parent="#accordion">
                                      <div class="card-body">
                                          <p>If the rental car gets damaged during your rental period, it's important to report it to the rental company immediately. Do not worry we will be responsible for this kind of circumstances.</p>
                                      </div>
                                  </div>
                              </div>
                               <!--faq single end-->
                               <div class="card">
                                <!--faq single start-->
                                <div class="card-header" id="faqHeading-3">
                                    <div class="mb-0">
                                        <h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-3" data-aria-expanded="true" data-aria-controls="faqCollapse-3">
                                            <span class="badge">☑</span>What is the fuel & other cost policy for the rental car?
                                        </h5>
                                    </div>
                                </div>
                                <div id="faqCollapse-3" class="collapse" aria-labelledby="faqHeading-3" data-parent="#accordion">
                                    <div class="card-body">
                                        <p>Car rental companies generally have different fuel policies. But We will bear the fuel and any other costs during the rental period.</p>
                                    </div>
                                </div>
                            </div>
                             <!--faq single end-->
                             <div class="card">
                              <!--faq single start-->
                              <div class="card-header" id="faqHeading-4">
                                  <div class="mb-0">
                                      <h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-4" data-aria-expanded="true" data-aria-controls="faqCollapse-4">
                                          <span class="badge">☑</span>Can I rent a car for a one-way trip?
                                      </h5>
                                  </div>
                              </div>
                              <div id="faqCollapse-4" class="collapse" aria-labelledby="faqHeading-4" data-parent="#accordion">
                                  <div class="card-body">
                                      <p>Yes, one-way rentals are available with potential additional fees.</p>
                                  </div>
                              </div>
                          </div>
                           <!--faq single end-->
                           <div class="card">
                            <!--faq single start-->
                            <div class="card-header" id="faqHeading-5">
                                <div class="mb-0">
                                    <h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-5" data-aria-expanded="true" data-aria-controls="faqCollapse-5">
                                        <span class="badge">☑</span>Can I rent a specific make or model of car?
                                    </h5>
                                </div>
                            </div>
                            <div id="faqCollapse-5" class="collapse" aria-labelledby="faqHeading-5" data-parent="#accordion">
                                <div class="card-body">
                                    <p>Subject to availability, specific makes/models can be rented, but additional costs may apply.</p>
                                </div>
                            </div>
                        </div>
                         <!--faq single end-->
                             
                               
                            </div>
                        </div>
                      </div>
                    </div>
                    </section>
<!-- faq section end -->
{% comment %} {% for faq in r_car %}
<h1>{{ faq.question}}</h1>
<h2>{{ faq.answer}}</h2> {% endcomment %}
{% comment %} {% endfor %} {% endcomment %}
{%endblock%}