{% extends 'base.html' %} 
{% load static %}

{% block body %}
<!--section1-->
<section id="cta-tutor" class = "cta-tutor">
    <div class="container text-center">
      <h2>LOOKING FOR EXPERT TUTOR?</h2>
      <p>Sign up now for exclusive access to our resources and start your journey towards success.</p>
      <a href="signup.html" class="btn"><button type="button" class="btn btn-outline-warning">Click here to submit your Tutor requirements</button></a>
    </div>
  </section>
<!--section1 end-->
<div class="feature">
  <div class="container">
    <!-- istrow -->
    <div class="row">
      <div class=" offset-md-1 col-md-10">
        <div class="c-title text-center">
          <h1 class="c-h1">Available Tuitions </h1>
    
        </div>
      </div>
    </div>
    <!-- 2ndrow -->
   <div class="row">    
   <!-- singleitem -->


   <div class="col-lg-4 col-sm-6">
    <div class="card">
      <div class="row">
        {% comment %} <div class="">
          <img src={% static 'images/mrx.png' %} alt="Avatar" style="width:100%">
        </div> {% endcomment %}
        <div class="col-md-9">
          <div class="s-text">
           
              <h4><b>Ttition Code </b></h4> 
              <p>details</p>
              <p>details</p>
              <button class="btn success">Apply</button>
            
          </div>
        </div>
      </div>
    </div>
  </div>

     <!-- singleitem -->
   </div>
 </div>
</div>


<!--section2 start-->

<!--section2 end-->
<!--about Tutor start -->
<section id="cta-section" class = "cta_tution">
  <div class="container ">
    <h2>Look N Target Tution hub </h2>
    <h3>How To Get A Tuition </span></h3>
    <p> 
      ১) টিউশন পেতে হলে অবশ্যই আমাদের ওয়েবসাইটে রেজিস্ট্রেশন ১০০% সম্পন্ন করতে হবে।
     <br>  ২) অভিভাবকের সাথে স্বাক্ষাৎ করে টিউশন নিশ্চিত হলে আপনাকে ২ কিস্তিতে শুধুমাত্র প্রথম মাসের বেতনের ৭০% মিডিয়া ফি দিতে হবে, দ্বিতীয় মাস থেকে আমাদের কে আর কোন ফি দিতে হবে না। স্বাক্ষাতের দিন ৩৫% এবং জয়েন করার ৭দিন পর বাকি ৩৫% ফি দিতে হবে।
     <br>  ৩)প্রথম মাসের স্যালারি পাওয়ার আগে টিউশন চলে সম্পূর্ণ মিডিয়া ফি ফেরত দেওয়া হবে।
     <br>  ৪)প্রথম মাসের বেতন পাওয়ার পর টিউশন চলে গেলে সম্পূর্ণ ফি ফেরত দেওয়া হবে,তবে আপনাকে যে বেতন দেওয়া হবে সেটার অর্ধেক মিডিয়া পাবে।
     <br>  ৫)আপনার ব্যক্তিগত কারনে টিউশন ছেড়ে দিলে বা চলে গেলে কো মিডিয়া ফি ফেরত দেওয়া হবে না।</p>
    
  </div>
</section>
<!--about Tutor end -->

{%endblock%}